Repository serverlessml/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, pylint

isort:
  name: Sort imports
  language: system
  entry: isort

pylint:
  name: PyLint on libs/*
  language: system
  entry: pylint --disable=missing-docstring,no-name-in-module
  stages:
  - commit

up
  Dockerfile.gcp
Due: none

up
  libs/requirements.txt
  libs/serverlessml/io/__init__.py
  libs/serverlessml/io/aws/__init__.py
  libs/serverlessml/io/aws/bus.py
  libs/serverlessml/io/aws/fs.py
  libs/serverlessml/io/gcp/__init__.py
  libs/serverlessml/io/gcp/bus.py
  libs/serverlessml/io/gcp/fs.py
  libs/serverlessml/io/local/__init__.py
  libs/serverlessml/io/local/bus.py
  libs/serverlessml/io/local/fs.py
  libs/serverlessml/pandas/__init__.py
  libs/serverlessml/pandas/csv.py
  libs/serverlessml/pandas/json.py
  libs/serverlessml/pipeline/__init__.py
  libs/serverlessml/pipeline/predict.py
  libs/serverlessml/pipeline/train.py
  libs/serverlessml/web_server/__init__.py
  libs/serverlessml/web_server/endpoints.py
  libs/serverlessml/web_server/main.py
  libs/setup.py
Due: isort, pylint

adds io controller for storage IO
  .dockerignore
  .gitignore
  libs/requirements.txt
  libs/serverlessml/__init__.py
  libs/serverlessml/data_format/__init__.py
  libs/serverlessml/data_format/pandas/__init__.py
  libs/serverlessml/data_format/pandas/csv.py
  libs/serverlessml/data_format/pandas/json.py
  libs/serverlessml/errors.py
  libs/serverlessml/io/aws/storage.py
  libs/serverlessml/io/controller.py
  libs/serverlessml/io/gcp/storage.py
  libs/serverlessml/io/local/storage.py
  libs/setup.py
Due: isort, pylint

adds train+predict logic descr
  libs/serverlessml/pipeline/predict.py
  libs/serverlessml/pipeline/train.py
Due: isort, pylint

lint
  .pre-commit-config.yaml
  libs/requirements.txt
  libs/serverlessml/__init__.py
  libs/serverlessml/io/aws/storage.py
  libs/serverlessml/io/controller.py
  libs/serverlessml/io/gcp/storage.py
  libs/serverlessml/io/local/storage.py
  libs/setup.py
  tools/coverage_bump.py
  tools/license_check.py
  tools/utils.py
  tox.ini
Due: isort, pylint

up
  .dockerignore
Due: none

up config
  .pre-commit-config.yaml
  Makefile
Due: none

adds gcs client
  libs/requirements.txt
  libs/serverlessml/io/gcp/storage.py
Due: isort, pylint

up
  libs/serverlessml/io/aws/storage.py
Due: isort, pylint

up
  libs/serverlessml/io/controller.py
  libs/serverlessml/io/gcp/storage.py
  libs/serverlessml/io/local/storage.py
Due: isort, pylint

adds s3 client
  libs/serverlessml/io/aws/storage.py
Due: isort, pylint

fixes
  libs/serverlessml/io/gcp/storage.py
Due: isort, pylint

refactors
  libs/requirements.txt
  libs/serverlessml/__init__.py
  libs/serverlessml/errors.py
  libs/serverlessml/io/__init__.py
  libs/serverlessml/io/aws/bus.py
  libs/serverlessml/io/aws/storage.py
  libs/serverlessml/io/controller.py
  libs/serverlessml/io/gcp/bus.py
  libs/serverlessml/io/gcp/storage.py
  libs/serverlessml/io/local/storage.py
  tox.ini
Due: isort, pylint

up pylint config
  .pylintrc
Due: none

adds pandas data format
  libs/serverlessml/data_format/__init__.py
  libs/serverlessml/data_format/dataset.py
  libs/serverlessml/data_format/pandas/__init__.py
  libs/serverlessml/data_format/pandas/csv.py
  libs/serverlessml/data_format/pandas/csv_dataset.py
  libs/serverlessml/data_format/pandas/json.py
  libs/serverlessml/data_format/pandas/json_dataset.py
  libs/serverlessml/errors.py
Due: isort, pylint

refactors
  libs/serverlessml/__init__.py
  libs/serverlessml/io/__init__.py
  libs/serverlessml/io/aws/__init__.py
  libs/serverlessml/io/aws/bus.py
  libs/serverlessml/io/aws/storage.py
  libs/serverlessml/io/controller.py
  libs/serverlessml/io/gcp/__init__.py
  libs/serverlessml/io/gcp/bus.py
  libs/serverlessml/io/gcp/storage.py
  libs/serverlessml/io/local/__init__.py
  libs/serverlessml/io/local/storage.py
  libs/setup.py
Due: isort, pylint

adds dynamic encoder loading logic
  libs/serverlessml/__init__.py
  libs/serverlessml/data_format/__init__.py
  libs/serverlessml/data_format/dataset.py
  libs/serverlessml/data_format/pandas/__init__.py
  libs/serverlessml/data_format/pandas/csv_file.py
  libs/serverlessml/data_format/pandas/json_file.py
Due: isort, pylint

refactors
  libs/serverlessml/io/__init__.py
  libs/serverlessml/io/controller.py
Due: isort, pylint

refactors
  libs/serverlessml/__init__.py
  libs/serverlessml/data_format/__init__.py
  libs/serverlessml/data_format/controller.py
  libs/serverlessml/data_format/pandas/__init__.py
  libs/serverlessml/data_format/pandas/csv_encoder.py
  libs/serverlessml/data_format/pandas/json_encoder.py
  libs/serverlessml/data_format/template.py
  libs/serverlessml/io/__init__.py
  libs/serverlessml/io/controller.py
  libs/serverlessml/io/template.py
Due: isort, pylint

adds io controller
  libs/serverlessml/__init__.py
  libs/serverlessml/errors.py
  libs/serverlessml/io/__init__.py
  libs/serverlessml/io/controller.py
  tox.ini
Due: isort, pylint

up
  libs/serverlessml/data_format/controller.py
  libs/serverlessml/io/controller.py
Due: isort, pylint

add pipelines
  .pylintrc
  serverlessml/serverlessml/__init__.py
  serverlessml/serverlessml/controllers/__init__.py
  serverlessml/serverlessml/controllers/config_validator.py
  serverlessml/serverlessml/controllers/io/controller.py
  serverlessml/serverlessml/errors.py
  serverlessml/serverlessml/pipeline.py
  serverlessml/serverlessml/pipeline/__init__.py
  serverlessml/serverlessml/pipeline/controller.py
  serverlessml/serverlessml/pipeline/predict.py
  serverlessml/serverlessml/pipeline/train.py
  serverlessml/setup.py
Due: isort

up
  serverlessml/serverlessml/pipeline.py
Due: isort

up
  serverlessml/serverlessml/__init__.py
Due: isort

fixes pipeline runner + adds gcp runner
  serverlessml/serverlessml/__init__.py
  serverlessml/serverlessml/controllers/config_validator.py
  serverlessml/serverlessml/handlers/gcp/runner.py
  serverlessml/serverlessml/http_server/__init__.py
  serverlessml/serverlessml/http_server/controller.py
  serverlessml/serverlessml/pipeline.py
  serverlessml/serverlessml/web_server/endpoints.py
  serverlessml/serverlessml/web_server/main.py
  serverlessml/setup.py
Due: isort

adds local runner
  .pre-commit-config.yaml
  main.py.gcp
  main.py.local
  serverlessml/requirements.txt
  serverlessml/serverlessml/__init__.py
  serverlessml/serverlessml/handlers/local/runner.py
  serverlessml/serverlessml/http_server/controller.py
Due: isort

up
  main.py.gcp
  main.py.local
  serverlessml/serverlessml/__init__.py
  serverlessml/serverlessml/handlers/__init__.py
Due: isort

fixes dockerfile
  Dockerfile.gcp
  requirements.txt
Due: none

up
  README.md
Due: none

adds local execution
  .pre-commit-config.yaml
  Dockerfile.gcp
  main.py.gcp
  main.py.local
Due: none

skeleton to run on aws
  main.py.aws
  serverlessml/serverlessml/__init__.py
  serverlessml/serverlessml/handlers/aws/runner.py
Due: isort

adds aws runner
  main.py.aws
  serverlessml/serverlessml/handlers/aws/runner.py
Due: isort

refactoring
  main.py.gcp
Due: none

refactors
  README.md
  main.py.gcp
  serverlessml/serverlessml/handlers/gcp/runner.py
  serverlessml/serverlessml/handlers/local/runner.py
  serverlessml/serverlessml/pipeline.py
Due: isort

removes logic w no use
  serverlessml/serverlessml/handlers/aws/io/bus.py
  serverlessml/serverlessml/handlers/gcp/io/bus.py
  serverlessml/serverlessml/handlers/local/io/bus.py
  serverlessml/setup.py
Due: isort

adds dockerfile for aws runner
  Dockerfile.aws
Due: none

fixes
  Dockerfile.gcp
Due: none

refactors pipeline runner
  serverlessml/serverlessml/__init__.py
  serverlessml/serverlessml/pipeline.py
Due: isort

refactors
  serverlessml/serverlessml/controllers/io/template.py
Due: isort

Path conditions:
  isort: any of: \.py$
  pylint: any of: ^libs/ and \.py$
